{{<layout}}

{{$content}}
<main id="content" role="main">
  <header class="page-header">
    <h1>View vehicle record</h1>
  </header>

  <body>

   <div class="grid-row">
    <div class="column-two-thirds">
      <table>
        <thead>
          <tr>
            <th scope="col">Vehicle details</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Vehicle make:</td>
            <td>FORD</td>
          </tr>
          <tr>
            <td>Date of first registration:</td>
            <td>23 August 2002</td>
          </tr>
          <tr>
           <td>Year of manufacture:</td>
            <td>2002</td>
          </tr>
          <tr>
            <td>Cylinder capacity (cc):</td>
            <td>1242cc</td>
          </tr>
          <tr>
            <td>CO₂Emissions:</td>
            <td>161 g/km</td>
          </tr>
          <tr>
            <td>Fuel type:</td>
            <td>PETROL</td>
          </tr>
          <tr>
            <td>Export marker:</td>
            <td>No</td>
          </tr>
          <tr>
            <td>Vehicle status:</td>
            <td>SORN in place</td>
          </tr>
          <tr>
            <td>Vehicle colour:</td>
            <td>Blue</td>
          </tr>
          <tr>
            <td>Vehicle type approval:</td>
            <td>M1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <p><a href="#">Change vehicle information</a></p>

  <div class="grid-row personal-details">
    <div class="column-two-thirds">
      <table>
        <thead>
          <tr>
            <th scope="col">Personal details</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name:</td>
            <td>Amy Whitney</td>
            <td><a href="#">Change name</a><td>
          </tr>
          <tr>
            <td>Date of birth:</td>
            <td>14 November 1989</td>
            <td> <td>
          </tr>
          <tr>
           <td>Gender:</td>
            <td>Female</td>
            <td> <td>
          </tr>
          <tr>
            <td>Address:</td>
            <td>142 Mapledne Road<Br>
                London</br>
                E8 3LL
            </td>
            <td><a href="#">Change address</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  </body>
</main>
{{/content}}

{{/layout}}
