{{<layout}}
{{$content}}
<main id="content" role="main">

	<div class="page-header">
	  <header>
	    <h1>Find my nearest<br> Land Registry Office</h1>
	  </header>

	  <div class="form-group">
	      <input type="text" class="form-control" id="form-location" title="Enter a town or postcode" placeholder="Enter a town or postcode">
	      <input class="submit" type="submit" value="Search">
	   </div>
    </div>

    <div class="grid-row">
        <div class="column-quarter">
          <h2 class="heading-xlarge">1.</h2>
        </div>
        <div class="column-half">
          <h2 class="heading-xlarge">Birkenhead</h2>
	          <div class="address">
	          	<p>Land Registry
					<br>Rosebrae Court
					<br>Woodside Ferry Approach
					<br>Birkenhead
					<br>Merseyside
					<br>CH41 6DU
					<br><br>DX: 24270 
					<br>Exchange: Birkenhead 4
					<br>
				</p>
			</div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-quarter">
          <h2 class="heading-xlarge">2.</h2>
        </div>
        <div class="column-half">
          <h2 class="heading-xlarge">Birkenhead</h2>
	          <div class="address">
	          	<p>Land Registry
					<br>Rosebrae Court
					<br>Woodside Ferry Approach
					<br>Birkenhead
					<br>Merseyside
					<br>CH41 6DU
					<br><br>DX: 24270 
					<br>Exchange: Birkenhead 4
					<br>
				</p>
			</div>
        </div>
    </div>
</main>

{{/content}}

{{/layout}}
